.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: #282c34;
}

.App-content {
  margin: 1rem;
}

.App-link {
  color: #dbc192;
}

