@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@font-face {
  font-family: 'circle-contrast_medium';
  src: url('./fonts/circe-contrast_medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'openSans-light', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-tree {
  background-color: rgba(255, 255, 255, 0)
}

.ant-btn {
  border-radius: 2rem;
  box-shadow: '4px 4px 4px 0px rgb(5, 12, 18, 0.7)';
  font-size: 1.1rem;
}

.ant-input {
  border-radius: 2rem;
}

.ant-tabs .ant-tabs-ink-bar {
  background: #E8A889;
}

.ant-tabs .ant-tabs-tab-btn {
  font-size: 1.2rem;
}

.ant-image-preview-wrap {
  z-index: 1005 !important;
}

.ant-image-preview-mask {
  background-color: rgba(0, 0, 0, 0.9);
}


.toolbar-wrapper {
  padding: 0px 24px;
  color: #fff;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}

.toolbar-wrapper .anticon {
  padding: 12px;
  cursor: pointer;
}

.toolbar-wrapper .anticon[disabled] {
  cursor: not-allowed;
  opacity: 0.3;
}

.toolbar-wrapper .anticon:hover {
  opacity: 0.3;
}


.toolbar-image {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 16px;
  margin: 8px;
  border-radius: 0.3rem;
  .text {
    font-size: 1rem;
    color: white;
  }
}

.ant-image-preview-img {
  transform: translate3d(0px, 0px, 0px) scale3d(1.3, 1.3, 1.3) rotate(0deg) !important;
}

.ant-tree-title {
  font-size: 1.1rem;
}
.ant-tree-title {
  padding: 10px;
}